<style>

      .responsive {

    max-width: 100%;

    height: auto;

  }

  

  .rotateimg90 {

  -webkit-transform:rotate(90deg);

  -moz-transform: rotate(90deg);

  -ms-transform: rotate(90deg);

  -o-transform: rotate(90deg);

  transform: rotate(90deg);

}

      

.topnav {

  background-color: crimson;

  overflow: hidden;

  text-align: center;

  

}
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.topnav a {

  float: left;

  color: #f2f2f2;

  text-align: center;

  padding: 14px 16px;

  text-decoration: none;

  font-size: 20px;

}

  

.topnav a:hover {

  background-color: white;

  color: black;

}   


 /* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}
    
/* Instagram */
.fa-instagram {
  background: #3B5998;
  color: white;
}

    
/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
} 
   

body, html {
    height: 100%;
}

/* The hero image on the home page */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("backgroundimage.jpg");

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

h1{
  color: white;
  text-align: center;
      
}
h2{
  color: white;
  text-align: center;
      
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body {
  background-color:black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color:white;
}
/* Schedule page css */
.column {
  float: left;
  width: 25%;
  padding: 2px;
  background-color:black;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: inline;
  background-color:black;

}
  </style>
